@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

/* VARIAVEIS */
:root{
    --color-base: #e9f035; 
    --color-gradient: linear-gradient(90deg, var(--color-base), #e1cf2c, #ffe600)
}

body{
    font-family: 'Poppins', sans-serif;
}

/* SECTION MAIN */
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--color-gradient);
}

/* CARD CONTAINER */
.card-container{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.card-container img{
    width: 12em;
}


/* LABEL CONTAINER */
.label-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.label-container i{
    color: var(--color-base);
    opacity: 90%;
}

/* INPUTS */
.input-field{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: text;
    border-bottom: 1px solid var(--color-base);
}

.input-field input{
    width: 20em;
    height: 3em;
    font-size: 1em;
    border: none;
    outline: none;
    background: none;
    color: white;
}

/* VALIDATE MESSAGE*/
#message{
    font-family: 'Poppins', sans-serif;
    max-width: 280px;
    font-style: italic;
    text-align: center;
    color: #e9f035;
}


/* SPAN LOADING */
.span-loading{
    width: 2em;
    height: 2em;
    background-color: transparent;
    display: block;
    border-radius: 50%;
    border: 5px solid var(--color-base);
    border-top: 5px solid transparent;
    animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*LOGIN BUTTON*/
#login_button{
    width: 100%;
    border: none;
    background: var(--color-gradient);
    padding: 8px;
    font-size: 1em;
    transition: all 0.5s;
    border-radius: 5px;
    
}


#login_button:hover{
    transform: scale(1.1);
    cursor: pointer;
}


